<div class="a-star-rating">
    <img n:for="$i=0; $i<floor($rating); $i++" src="{$baseUri}/frontend-assets/img/ico/star-filled.svg" alt="star ico"/>
    <img n:for="$i=0; $i<5-floor($rating); $i++" src="{$baseUri}/frontend-assets/img/ico/star-stroke.svg" alt="star ico"/>
</div>