<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Administrace</title>

    <link href="{$baseUri}/admin-assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <link href="{$baseUri}/admin-assets/dist/css/sb-admin-2.css" rel="stylesheet">

    <link href="{$baseUri}/admin-assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <link rel="stylesheet" type="text/css" href="{$baseUri}/bower_components/bootstrap/dist/css/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="{$baseUri}/bower_components/happy/dist/happy.css">
    <link rel="stylesheet" type="text/css" href="{$baseUri}/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
    <link rel="stylesheet" type="text/css" href="{$baseUri}/bower_components/ublaboo-datagrid/assets/dist/datagrid.css">

    <link rel="stylesheet" type="text/css" href="{$baseUri}/bower_components/ublaboo-datagrid/assets/dist/datagrid-spinners.css">
    <link href="{$baseUri}/admin-assets/css/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="overflow-x: hidden;">
{if $presenter->getName() == 'Admin:Homepage'}
    <div class="container">
        <div class="row">
            {include content}
        </div>
    </div>
{else}
    <div id="wrapper">
        {include 'sidebar.latte'}
        {include content}
    </div>
{/if}

<script src="{$baseUri}/admin-assets/vendor/jquery/jquery.min.js"></script>

<script src="{$baseUri}/admin-assets/vendor/bootstrap/js/bootstrap.min.js"></script>


<script src="{$baseUri}/bower_components/jquery/dist/jquery.js"></script>
<script src="{$baseUri}/bower_components/nette-forms/src/assets/netteForms.js"></script>

<script src="{$baseUri}/bower_components/happy/dist/happy.js"></script>
<script src="{$baseUri}/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="{$baseUri}/bower_components/jquery-ui-sortable/jquery-ui-sortable.js"></script>
<script src="{$baseUri}/bower_components/ublaboo-datagrid/assets/dist/datagrid.js"></script>

<script src="{$baseUri}/bower_components/ublaboo-datagrid/assets/dist/datagrid-instant-url-refresh.js"></script>

<script src="{$baseUri}/bower_components/ublaboo-datagrid/assets/dist/datagrid-spinners.js"></script>

<script src="{$baseUri}/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="{$baseUri}/admin-assets/js/notify.js"></script>
<script>
    {foreach $flashes as $flash}
    $.notify(
            {$flash->message},
            {$flash->type}
    );
    {/foreach}
</script>
</body>

</html>
