{block content}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Přidat sjezdovku</h1>
                {control slope-form}
            </div>
        </div>
    </div>
</div>