{block content}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Přidat album</h1>
                <div class="row">
                    {control album-form}
                </div>
            </div>
        </div>
    </div>
</div>