{block content}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Alba</h1>
                <a href="{link add}" class="btn btn-primary">Přidat album</a>
                <div class="row">
                    {control album-grid-grid}
                </div>
            </div>
        </div>
    </div>
</div>