{block content}
    <section class="p-homepage">
        <header class="container">
            <a n:href="Homepage:">
                <img src="{$baseUri}/frontend-assets/img/logo_orig.svg" alt="logo"/>
            </a>
        </header>
        <div class="container">
            <h1 class="a-big-title">Lyžovačka na pár kliků</h1>
            <div class="o-search-form">
                {control filter}
            </div>
        </div>
    </section>
{/block}
{block scripts}